{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body class="bg_blue ">
    <div class="container bg-white mt-5 shadow-sm rounded-2 p-2">
      {% if register %}
      <h5 class="text-center"> You Registered SuccessFully Now You can Log In </h5>
      {%endif%}
     
        <div class="row">
            <div class="col-6">
                <h4 class="text-center mt-2 text-capitalize text-primary">Login to Todo App</h4>
                {% if wrong %}
                <h5 class="text-center text-danger"> email or password is wrong</h5>
                {%endif%}
                    <form class=" m-5" action="login" method="post">
                      {% csrf_token %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label" >Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                          <input type="hidden" name="form" value="login">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                
            </div>
            <div class="col-6">
                <h4 class="text-center mt-2 text-capitalize text-primary">Sign Up Todo App</h4>
                
                    <form class=" m-5" action="login" method="post">
                      {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                          {% if emailexist %}
                          <p class="text-danger">Email is already exist please try with another</p>
                          {% endif %}
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label" >Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                        </div>
                        <input type="hidden" name="form" value="signup">

                        
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                      </form>
                
            </div>
        </div>
        
        

    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>